.pass-reset{
}

.pass-reset #info{
    align-items: center;
    justify-content: center;
    display: flex; 
    min-height: 90vh;
}

.pass-reset h1{
    color: #0076BD;
    font-weight: 600;
    font-size: 24px;
    height: 24px;
}

h2{
    font-weight: 400;
    font-size: 18px;
    color: #444444;
    margin-bottom: 50px;
}

.pass-reset .card{
    background: #FFFFFF;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 40%;
    margin: 0;
    float: none;
    text-align: left;
    padding: 50px;
    border: none;
}

.pass-reset .enter-input{
    border: none;
    border-bottom: 1px solid #bbbb;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.pass-reset .enter-input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #0076BD;
}

.pass-reset .enter-btn{
    border: 3px solid #0076BD;
    border-radius: 5px;
    color: #0076BD;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    padding: 5px 25px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pass-reset .enter-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .pass-reset .enter-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0076BD;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .pass-reset .enter-btn:hover, .pass-reset .enter-btn:focus, .pass-reset .enter-btn:active {
    color: white;
  }
  .pass-reset .enter-btn:hover:before, .pass-reset .enter-btn:focus:before, .pass-reset .enter-btn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

#overlapping{
    position: absolute;
    top: 20px;
    left: -20px;
    height: fit-content;
}

#lrg-txt{
    font-weight: 700;
    font-size: 300px;
    color: rgba(68, 68, 68, 0.3);
    opacity: 0.1;
}

.pass-reset  .enter-a{
    color: #0076BD;
    font-weight: 600;
    text-decoration: none;
}

.pass-reset  .enter-a:hover{
    text-decoration: underline;
}

.enter-img{
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
}

label{
    font-size: 10px;
    color: #bbbbbb;
}
  