.sign-up{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.create-account h1, .sign-up h1{
    color: #E2007A;
    font-weight: 600;
    font-size: 24px;
    height: 24px;
}

h2{
    font-weight: 400;
    font-size: 18px;
    color: #444444;
    margin-bottom: 50px;
}

.sign-up .card{
    background: #FFFFFF;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 60%;
    margin: 0;
    float: none;
    text-align: left;
    border: none;
    position: absolute;
    top: 5px;
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        position: absolute;               /* 2 */
        top: 50%;                         /* 3 */
        transform: translate(0, -50%)   /* 4 */
}

.sign-up #enter-card-right{
    padding: 50px;
}

.sign-up p{
    margin: 0px;
}

#sign-up{
    position: relative;
    min-height: 98vh;
    height: max-content;
}

.enter-input{
    border: none;
    border-bottom: 1px solid #bbbb;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.create-account .enter-input:focus, .sign-up .enter-input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #E2007A;
}

.sign-up .enter-btn{
    border: 3px solid #E2007A;
    border-radius: 5px;
    color: #E2007A;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    padding: 5px 10px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

#overlapping{
    position: absolute;
    top: 20px;
    left: -20px;
    height: fit-content;
}

#lrg-txt{
    font-weight: 700;
    font-size: 300px;
    color: rgba(68, 68, 68, 0.3);
    opacity: 0.1;
}

.enter-p{
    color: #444444;
    font-size: 12px;
    font-weight: 400;
}

.create-account .enter-a, .sign-up .enter-a{
    color: #E2007A;
    font-weight: 600;
    text-decoration: none;
}

.sign-up .enter-a:hover{
    text-decoration: underline;
}

.sign-up .enter-img{
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
}

label{
    font-size: 12px;
    color: #bbbbbb;
    height: normal;
    margin-top: 30px;
}
  .row {
    display: flex;
  }

.sign-up .column{
    width: 50%;
}
  
.create-account{
    min-height: 95vh;
    /* align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 50px; */
}

.create-account #info{
    align-items: center;
    justify-content: center;
    display: flex;
}

.create-account .card{
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 70%;
    margin: 0;
    float: none;
    text-align: left;
    border: none;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%)   /* 4 */
}

.create-account #enter-card-right{
    padding: 0px;
    margin-left: 20px;
}

.create-account #enter-card-left{
    margin-right: 20px;
}

.create-account .enter-btn{
    border: 3px solid #E2007A;
    border-radius: 5px;
    color: #E2007A;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    padding: 5px 10px;
    width: 100%;
    margin-top: 30px;
}

.sign-up .enter-btn, .create-account .enter-btn{
    border: 3px solid #E2007A;
    border-radius: 5px;
    color: #E2007A;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    padding: 5px 25px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sign-up .enter-btn, .create-account .enter-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .sign-up .enter-btn:before, .create-account .enter-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E2007A;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .sign-up .enter-btn:hover, .sign-in .enter-btn:focus, .sign-in .enter-btn:active, .create-account .enter-btn:active, .create-account .enter-btn:hover, .create-account .enter-btn:focus {
    color: white;
  }
  .sign-up .enter-btn:hover:before, .sign-in .enter-btn:focus:before, .sign-in .enter-btn:active:before, .create-account .enter-btn:hover:before, .create-account .enter-btn:focus:before, .create-account .enter-btn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

  #back{
    text-align: left;
    margin: 10px;
    height: fit-content;
}

#back button{
    color: #bbbbbb;
    font-weight: 600;
    border: none;
    background: none;
    font-size: 14px;
    text-decoration: none;
}

#back button:hover, #back button:active{
    color: black;
}

.sign-up .alert{
    z-index: 1000;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
}

.create-account .alert{
    z-index: 1000;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
}

.alert-heading{
    font-size: 14px;
}

.pass-bar{
    font-size: 8px;
}